

.card {
  max-width: 55vw;
  background: white;
  border-radius: 10px;
  gap: 35px;
  max-height: 40vh;
/* border: solid 100px, black; */
  display: flex;
  flex-direction: row;
  position: relative;
  top: 25vh;
}

.card-body {
  /* padding: 20px; */
  display: flex;
  flex-direction: column; /* stack items vertically */
border: 5px solid red;
  text-align: left; /* centers text */
  /* position: relative; */
  padding: 20px;
  /* position: absolute; */
  /* top: 5vh; */
}

.card-title {
  font-size: 1.2rem;
  color: black; /* better contrast with dark purple background */
  margin-bottom: 8px; /* spacing below title */
}

.card-subtitle {
  font-size: 1.2rem;
  color: black;
  /* margin-bottom: 12px; */
}

.card-description {
  font-size: 1.2rem;
  color: black;
}
