body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: relative;
  top: 5vh;
}

.navbar a {
  color: white;
  text-decoration: overline;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: red;
}
